body ~ .Controls {
    background-color: black;
}

.controls-title {
    font-family: crimes;
    text-transform: uppercase;
    background: -webkit-linear-gradient(rgb(221, 11, 11), rgb(70, 0, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;   
    font-size: 4em;
}

.Controls {
    //Permet d'avoir la div en fullscreen
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    
    background-image: url(../../assets/background/controls.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left top;

    p,
    table,
    ul,
    li,
    label
     {
        color: #ffffff;
    }

    b {
        color: #c90e05;
    }
}
.slider {
    background: #c90e05;
}