body ~ .Controls {
    background-color: black;
}

.controls-title {
    font-family: crimes;
    text-transform: uppercase;
    background: -webkit-linear-gradient(rgb(221, 11, 11), rgb(70, 0, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;   
    font-size: 4em;
}

.Controls {
    //Permet d'avoir la div en fullscreen
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left top;

    p,
    table,
    ul,
    li,
    label
     {
        color: #ffffff;
    }

    b {
        color: #c90e05;
    }
}

.ControlsVideo {
      /* Make video to at least 100% wide and tall */
  min-width: 100%; 
  min-height: 100%; 

  /* Setting width & height to auto prevents the browser from stretching or squishing the video */
  width: auto;
  height: auto;

  /* Center the video */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
	z-index: -1;
}
// .slider {
//     background: #c90e05;
// }

.slider {
    width: 250px;
    height: 15px;
    -webkit-appearance: none;
    background: #111;
    outline: none;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 1);
    display: inline-block;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #8a0505;
    cursor: pointer;
    border: 4px solid #333;
    box-shadow: -407px 0 0 400px #8a0505;
  }

  .vol{
    font-size:15px;
    color:#ebebeb;
    display: inline-block;
    margin:10px;
  }

  input[type='checkbox']{
    --active: #a30808;
    --active-inner: #fff;
    --focus: 2px rgba(189, 55, 37, 0.3);
    --background: #766e6e;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 21px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;
    cursor: pointer;
    border: 1px solid var(--bc, var(--border));
    background: var(--b, var(--background));
    &:after {
      content: '';
      display: block;
      left: 0;
      top: 0;
      position: absolute;
      transition: transform var(--d-t, .3s) var(--d-t-e, ease), opacity var(--d-o, .2s);
    }
    &:checked {
      --b: var(--active);
      --bc: var(--active);
      --d-o: .3s;
      --d-t: .6s;
      --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
    }
    &:disabled {
      --b: var(--disabled);
      cursor: not-allowed;
      opacity: .9;
      &:checked {
        --b: var(--disabled-inner);
        --bc: var(--border);
      }
      & + label {
        cursor: not-allowed;
      }
    }
    &:hover {
      &:not(:checked) {
        &:not(:disabled) {
          --bc: var(--border-hover);
        }
      }
    }
    &:focus {
      box-shadow: 0 0 0 var(--focus);
    }
    &:not(.switch) {
      width: 21px;
      &:after {
        opacity: var(--o, 0);
      }
      &:checked {
        --o: 1;
      }
    }
    & + label {
      font-size: 14px;
      line-height: 21px;
      display: inline-block;
      vertical-align: top;
      cursor: pointer;
      margin-left: 4px;
    }
  }
  input[type='checkbox'] {
    &:not(.switch) {
      border-radius: 7px;
      &:after {
        width: 5px;
        height: 9px;
        border: 2px solid var(--active-inner);
        border-top: 0;
        border-left: 0;
        left: 7px;
        top: 4px;
        transform: rotate(var(--r, 20deg));
      }
      &:checked {
        --r: 43deg;
      }
    }
    &.switch {
      width: 38px;
      border-radius: 11px;
      &:after {
        left: 2px;
        top: 2px;
        border-radius: 50%;
        width: 15px;
        height: 15px;
        background: var(--ab, var(--border));
        transform: translateX(var(--x, 0));
      }
      &:checked {
        --ab: var(--active-inner);
        --x: 17px;
      }
      &:disabled {
        &:not(:checked) {
          &:after {
            opacity: .6;
          }
        }
      }
    }
  }
