
@font-face {
	src: url(../../assets/fonts/Crimes.otf);
	font-family: crimes;
}


.listParties{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    
    background-image: url(../../assets/background/GameJoin.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left top;
}


.list-title {
    font-family: crimes;
    text-transform: uppercase;
    background: -webkit-linear-gradient(rgb(221, 11, 11), rgb(70, 0, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;   
    font-size: 4em;
}


.listParties-card{
    background: rgba(82, 82, 82, 0.418);
}



.join-btn {
    font-size: 110%;
    text-transform: uppercase;
    border: none;
    background-color: transparent;
    color: #ffff;
    font-family: test;
    text-shadow: 2px 2px black;
    border-color: transparent;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: 0.5s;
    letter-spacing: 0.5px;
}

.join-btn:hover{
    color: #640e0b;
}

.join-btn:not(:disabled):not(.disabled):active:focus {
    box-shadow: none;
    background-color: transparent;
}


.join-btn:focus {
    box-shadow: none;
    background-color: transparent;
  }

.join-btn:hover::before{
    width: 100%
  }


  .join-btn  span{
    position: relative;
    z-index: 1;
  }