
@font-face {
	src: url(../../assets/fonts/Crimes.otf);
	font-family: crimes;
}

@font-face {
	src: url(../../assets/fonts/test.ttf);
	font-family: test;
}


body ~ .Rules {
    background-color: black;
}

.Rules {
    //Permet d'avoir la div en fullscreen
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;

    background-image: url(../../assets/background/Rules.jpg);
    background-position-y: -90px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left top;

    p,
    span,
    b,
    h5,
    li {
        color: #ffffff;
    }

    b {
        color: #c90e05;
    }
}

.rules-title {
        font-family: crimes;
        text-transform: uppercase;
        background: -webkit-linear-gradient(rgb(221, 11, 11), rgb(70, 0, 0));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;   
        font-size: 4em;
}

h2 {
    font-family: test;
    font-size: 2em;
    color: rgb(235, 235, 235);
    letter-spacing: 3px;
}

.pipou {
    background: rgba(82, 82, 82, 0.418);
}
